In [17]:
import pandas as pd
from sql_functions import get_dataframe
from sql_functions import get_engine
from sql_functions import get_data
from sql_functions import get_sql_config
import sqlalchemy
import psycopg2

In [ ]:
df_mh=pd.read_csv('./data/mental_health_indicators_deu.csv')
df_mh.sort_values(['YEAR (DISPLAY)'], ascending=True, inplace=True)
df_mh.head()

In [ ]:
df_si=pd.read_csv('./data/health_systems_indicators_deu.csv')
df_si.sort_values(['YEAR (DISPLAY)'], ascending=True, inplace=True)
df_si

In [ ]:
df_wi=pd.read_csv('./data/health_workforce_indicators_deu.csv')
df_wi.sort_values(['YEAR (DISPLAY)'], ascending=True, inplace=True)
df_wi

In [ ]:
df_giD=pd.read_csv('./data/Gesundheit_in_Deutschland_aktuell_-_2019-2020-EHIS.csv')
df_giD

In [7]:
table_name='mental_health_surveillance'
df_hfmh=pd.read_csv('./data/high_frequency_mental_health_surveillance.tsv', sep='\t')
df_hfmh

,model,instrument,type,category,cat_value,standardized,date,fit,se,lwr,upr,period_duration,period_text,obs_month_period,obs_timeseries
0,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-04-01,NaN,NaN,NaN,NaN,2_Monate,Mitte Februar bis Mitte Mai,222.0,4994
1,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-05-01,NaN,NaN,NaN,NaN,2_Monate,Mitte März bis Mitte Juni,222.0,4994
2,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-06-01,12.216638,3.661314,6.653225,21.367286,2_Monate,Mitte April bis Mitte Juli,164.0,4994
3,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-07-01,12.678911,3.345990,7.433071,20.795257,2_Monate,Mitte Mai bis Mitte August,205.0,4994
4,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-08-01,12.124979,2.780445,7.641295,18.706687,3_Monate,Mitte Juni bis Mitte September,284.0,4994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26063,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,False,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838
26064,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,True,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838
26065,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,True,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838
26066,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,True,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838
26067,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,True,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838

In [15]:
schema='cgn_analytics_24_2'
sql_config=get_sql_config()

In [19]:
engine = sqlalchemy.create_engine('postgresql://user:pass@host/database',
                        connect_args=sql_config
)

In [21]:
if engine!=None:
    try:
        df_hfmh.to_sql(table_name,
                       con=engine,
                       if_exists='replace',
                       schema=schema,
                       index=False,
                       chunksize=5000,
                       method='multi')
        print(f"The {table_name} was imported")
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The mental_health_surveillance was imported

In [29]:
df_depression=pd.read_sql_query(sql= f"SELECT * FROM {schema}.mental_health_surveillance mhs WHERE model ='3_Monate_Anteile' AND instrument = 'PHQ-2' AND category = 'Altersgruppe';", con=engine)
df_depression.describe()

,fit,se,lwr,upr,obs_month_period,obs_timeseries
count,392.000000,392.000000,392.000000,392.000000,448.000000,448.00000
mean,15.276799,2.070742,11.731623,19.915978,1358.209821,24215.00000
std,4.876454,0.792488,4.732534,5.237655,1135.890184,12848.09243
min,5.066725,0.891915,2.544477,8.080446,82.000000,8152.00000
25%,11.367951,1.455220,7.781092,16.222738,508.500000,13350.25000
50%,15.124925,1.900693,10.667147,19.886158,934.500000,25908.00000
75%,19.068990,2.550225,15.986071,23.499295,1661.250000,36772.75000
max,27.755463,4.870113,22.889449,34.930578,4801.000000,36892.00000