In [59]:
import pandas as pd
from sql_functions import get_dataframe
from sql_functions import get_engine
from sql_functions import get_data
from sql_functions import get_sql_config
import sqlalchemy
import psycopg2

In [60]:
df_mh=pd.read_csv('./data/mental_health_indicators_deu.csv')
df_mh.sort_values(['YEAR (DISPLAY)'], ascending=True, inplace=True)
df_mh

,GHO (CODE),GHO (DISPLAY),GHO (URL),YEAR (DISPLAY),STARTYEAR,ENDYEAR,REGION (CODE),REGION (DISPLAY),COUNTRY (CODE),COUNTRY (DISPLAY),DIMENSION (TYPE),DIMENSION (CODE),DIMENSION (NAME),Numeric,Value,Low,High
0,#indicator+code,#indicator+name,#indicator+url,#date+year,#date+year+start,#date+year+end,#region+code,#region+name,#country+code,#country+name,#dimension+type,#dimension+code,#dimension+name,#indicator+value+num,#indicator+value,#indicator+value+low,#indicator+value+high
155,SDGSUICIDE,Crude suicide rates (per 100 000 population),https://www.who.int/data/gho/data/indicators/i...,2000,2000,2000,EUR,Europe,DEU,Germany,SEX,SEX_MLE,Male,21.7048,21.7 [19.3-24.2],19.3048,24.2283
57,MH_12,Age-standardized suicide rates (per 100 000 po...,https://www.who.int/data/gho/data/indicators/i...,2000,2000,2000,EUR,Europe,DEU,Germany,SEX,SEX_MLE,Male,17.6474,17.6 [15.7-19.7],15.6999,19.6871
140,SDGSUICIDE,Crude suicide rates (per 100 000 population),https://www.who.int/data/gho/data/indicators/i...,2000,2000,2000,EUR,Europe,DEU,Germany,SEX,SEX_FMLE,Female,7.6,7.6 [6.6-8.6],6.58,8.64
128,SDGSUICIDE,Crude suicide rates (per 100 000 population),https://www.who.int/data/gho/data/indicators/i...,2000,2000,2000,EUR,Europe,DEU,Germany,SEX,SEX_BTSX,Both sexes,14.4674,14.5 [12.8-16.2],12.7772,16.2306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,MH_12,Age-standardized suicide rates (per 100 000 po...,https://www.who.int/data/gho/data/indicators/i...,2019,2019,2019,EUR,Europe,DEU,Germany,SEX,SEX_FMLE,Female,3.91,3.9 [3.1-4.8],3.11,4.83
55,SDGSUICIDE,Crude suicide rates (per 100 000 population),https://www.who.int/data/gho/data/indicators/i...,2019,2019,2019,EUR,Europe,DEU,Germany,SEX,SEX_FMLE,Female,8.35,8.4,NaN,NaN
53,SDGSUICIDE,Crude suicide rates (per 100 000 population),https://www.who.int/data/gho/data/indicators/i...,2019,2019,2019,EUR,Europe,DEU,Germany,SEX,SEX_FMLE,Female,3.13,3.1,NaN,NaN
134,SDGSUICIDE,Crude suicide rates (per 100 000 population),https://www.who.int/data/gho/data/indicators/i...,2019,2019,2019,EUR,Europe,DEU,Germany,SEX,SEX_MLE,Male,79.37,79.4,NaN,NaN
22,SDGSUICIDE,Crude suicide rates (per 100 000 population),https://www.who.int/data/gho/data/indicators/i...,2019,2019,2019,EUR,Europe,DEU,Germany,SEX,SEX_BTSX,Both sexes,37.88,37.9,NaN,NaN

In [61]:
df_si=pd.read_csv('./data/health_systems_indicators_deu.csv')
df_si.sort_values(['YEAR (DISPLAY)'], ascending=True, inplace=True)
df_si

,GHO (CODE),GHO (DISPLAY),GHO (URL),YEAR (DISPLAY),STARTYEAR,ENDYEAR,REGION (CODE),REGION (DISPLAY),COUNTRY (CODE),COUNTRY (DISPLAY),DIMENSION (TYPE),DIMENSION (CODE),DIMENSION (NAME),Numeric,Value,Low,High
0,#indicator+code,#indicator+name,#indicator+url,#date+year,#date+year+start,#date+year+end,#region+code,#region+name,#country+code,#country+name,#dimension+type,#dimension+code,#dimension+name,#indicator+value+num,#indicator+value,#indicator+value+low,#indicator+value+high
22,WHS10_8,Civil registration coverage of cause-of-death (%),https://www.who.int/data/gho/data/indicators/i...,1994,1990,1994,EUR,Europe,DEU,Germany,NaN,NaN,NaN,100.0,100,NaN,NaN
19,WHS10_8,Civil registration coverage of cause-of-death (%),https://www.who.int/data/gho/data/indicators/i...,1999,1995,1999,EUR,Europe,DEU,Germany,NaN,NaN,NaN,99.64,99.6,NaN,NaN
26,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2000,2000,2000,EUR,Europe,DEU,Germany,NaN,NaN,NaN,91.9016,91.9,NaN,NaN
12,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2001,2001,2001,EUR,Europe,DEU,Germany,NaN,NaN,NaN,91.01845,91.0,NaN,NaN
4,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2002,2002,2002,EUR,Europe,DEU,Germany,NaN,NaN,NaN,89.86839,89.9,NaN,NaN
1,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2003,2003,2003,EUR,Europe,DEU,Germany,NaN,NaN,NaN,88.71768,88.7,NaN,NaN
17,WHS10_8,Civil registration coverage of cause-of-death (%),https://www.who.int/data/gho/data/indicators/i...,2004,2000,2004,EUR,Europe,DEU,Germany,NaN,NaN,NaN,100.0,100,NaN,NaN
7,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2004,2004,2004,EUR,Europe,DEU,Germany,NaN,NaN,NaN,87.09671,87.1,NaN,NaN
14,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2005,2005,2005,EUR,Europe,DEU,Germany,NaN,NaN,NaN,85.98502,86.0,NaN,NaN
9,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2006,2006,2006,EUR,Europe,DEU,Germany,NaN,NaN,NaN,84.19591,84.2,NaN,NaN
25,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2007,2007,2007,EUR,Europe,DEU,Germany,NaN,NaN,NaN,83.48941,83.5,NaN,NaN
20,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2008,2008,2008,EUR,Europe,DEU,Germany,NaN,NaN,NaN,83.03877,83.0,NaN,NaN
11,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2009,2009,2009,EUR,Europe,DEU,Germany,NaN,NaN,NaN,83.04515,83.0,NaN,NaN
18,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2010,2010,2010,EUR,Europe,DEU,Germany,NaN,NaN,NaN,82.93541,82.9,NaN,NaN
24,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2011,2011,2011,EUR,Europe,DEU,Germany,NaN,NaN,NaN,82.60195,82.6,NaN,NaN
15,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2012,2012,2012,EUR,Europe,DEU,Germany,NaN,NaN,NaN,82.21698,82.2,NaN,NaN
21,WHS10_8,Civil registration coverage of cause-of-death (%),https://www.who.int/data/gho/data/indicators/i...,2012,2010,2012,EUR,Europe,DEU,Germany,NaN,NaN,NaN,99.59532,100,NaN,NaN
8,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2013,2013,2013,EUR,Europe,DEU,Germany,NaN,NaN,NaN,81.72811,81.7,NaN,NaN
23,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2014,2014,2014,EUR,Europe,DEU,Germany,NaN,NaN,NaN,81.40075,81.4,NaN,NaN
13,WHS10_9,Ill-defined causes in cause-of-death registrat...,https://www.who.int/data/gho/data/indicators/i...,2015,2015,2015,EUR,Europe,DEU,Germany,NaN,NaN,NaN,10.70017,11,NaN,NaN
2,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2015,2015,2015,EUR,Europe,DEU,Germany,NaN,NaN,NaN,80.94771,80.9,NaN,NaN
5,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2016,2016,2016,EUR,Europe,DEU,Germany,NaN,NaN,NaN,80.64248,80.6,NaN,NaN
6,HSS_UHCLEGISLATION,Countries that have passed legislation on Univ...,https://www.who.int/data/gho/data/indicators/i...,2017,2017,2017,EUR,Europe,DEU,Germany,NaN,NaN,NaN,NaN,Yes,NaN,NaN
27,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2017,2017,2017,EUR,Europe,DEU,Germany,NaN,NaN,NaN,80.05483,80.1,NaN,NaN
3,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2018,2018,2018,EUR,Europe,DEU,Germany,NaN,NaN,NaN,79.84395,79.8,NaN,NaN
16,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2019,2019,2019,EUR,Europe,DEU,Germany,NaN,NaN,NaN,79.09521,79.1,NaN,NaN
10,WHS6_102,Hospital beds (per 10 000 population),https://www.who.int/data/gho/data/indicators/i...,2020,2020,2020,EUR,Europe,DEU,Germany,NaN,NaN,NaN,78.02411,78.0,NaN,NaN

In [62]:
df_wi=pd.read_csv('./data/health_workforce_indicators_deu.csv')
df_wi.sort_values(['YEAR (DISPLAY)'], ascending=True, inplace=True)
df_wi

,GHO (CODE),GHO (DISPLAY),GHO (URL),YEAR (DISPLAY),STARTYEAR,ENDYEAR,REGION (CODE),REGION (DISPLAY),COUNTRY (CODE),COUNTRY (DISPLAY),DIMENSION (TYPE),DIMENSION (CODE),DIMENSION (NAME),Numeric,Value,Low,High
0,#indicator+code,#indicator+name,#indicator+url,#date+year,#date+year+start,#date+year+end,#region+code,#region+name,#country+code,#country+name,#dimension+type,#dimension+code,#dimension+name,#indicator+value+num,#indicator+value,#indicator+value+low,#indicator+value+high
254,HWF_0002,Medical doctors (number),https://www.who.int/data/gho/data/indicators/i...,1991,1991,1991,EUR,Europe,DEU,Germany,NaN,NaN,NaN,220445.0,220 445,NaN,NaN
134,HWF_0004,Specialist medical practitioners (number),https://www.who.int/data/gho/data/indicators/i...,1991,1991,1991,EUR,Europe,DEU,Germany,NaN,NaN,NaN,161930.0,161 930,NaN,NaN
126,HWF_0015,Pharmacists (number),https://www.who.int/data/gho/data/indicators/i...,1991,1991,1991,EUR,Europe,DEU,Germany,NaN,NaN,NaN,41607.0,41 607,NaN,NaN
310,HWF_0001,"Medical doctors (per 10,000)",https://www.who.int/data/gho/data/indicators/i...,1991,1991,1991,EUR,Europe,DEU,Germany,NaN,NaN,NaN,27.624,27.624,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,HWF_0015,Pharmacists (number),https://www.who.int/data/gho/data/indicators/i...,2021,2021,2021,EUR,Europe,DEU,Germany,NaN,NaN,NaN,56059.0,56 059,NaN,NaN
259,HWF_0010,"Dentists (per 10,000)",https://www.who.int/data/gho/data/indicators/i...,2021,2021,2021,EUR,Europe,DEU,Germany,NaN,NaN,NaN,8.545,8.545,NaN,NaN
257,HWF_0008,Nursing personnel (number),https://www.who.int/data/gho/data/indicators/i...,2021,2021,2021,EUR,Europe,DEU,Germany,NaN,NaN,NaN,1001000.0,1 001 000,NaN,NaN
120,HWF_0009,Midwifery personnel (number),https://www.who.int/data/gho/data/indicators/i...,2021,2021,2021,EUR,Europe,DEU,Germany,NaN,NaN,NaN,25000.0,25 000,NaN,NaN
285,HWF_0003,Generalist medical practitioners (number),https://www.who.int/data/gho/data/indicators/i...,2021,2021,2021,EUR,Europe,DEU,Germany,NaN,NaN,NaN,86107.0,86 107,NaN,NaN

In [63]:
df_giD=pd.read_csv('./data/Gesundheit_in_Deutschland_aktuell_-_2019-2020-EHIS.csv')
df_giD

,Altersgruppe,Bildungsgruppe,Gender,Frequency,Freq_ges,Percent,LowerCL,UpperCL,Bundesland,Standard,Variable,BundeslandId
0,18 - 29 Jahre,Gesamt,Frauen,302,899,36.902,32.817,41.184,Deutschland,0,AMarztB,0
1,18 - 29 Jahre,Gesamt,Gesamt,561,2100,28.312,25.793,30.974,Deutschland,0,AMarztB,0
2,18 - 29 Jahre,Gesamt,MÃ¤nner,254,1188,20.697,17.841,23.878,Deutschland,0,AMarztB,0
3,30 - 44 Jahre,Gesamt,Frauen,720,1895,38.012,34.983,41.136,Deutschland,0,AMarztB,0
4,30 - 44 Jahre,Gesamt,Gesamt,1229,3768,34.433,32.281,36.650,Deutschland,0,AMarztB,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5856,Gesamt,Obere,MÃ¤nner,1184,6383,22.510,20.980,24.118,Deutschland,1,RCstatE_k3,0
5857,Gesamt,Mittlere,MÃ¤nner,1210,3792,37.520,35.492,39.593,Deutschland,0,RCstatE_k3,0
5858,Gesamt,Mittlere,MÃ¤nner,1210,3792,37.594,35.532,39.702,Deutschland,1,RCstatE_k3,0
5859,Gesamt,Untere,MÃ¤nner,189,475,41.990,36.684,47.486,Deutschland,1,RCstatE_k3,0
5860,Gesamt,Untere,MÃ¤nner,189,475,45.079,39.779,50.493,Deutschland,0,RCstatE_k3,0

In [64]:
table_name='mental_health_surveillance'
df_hfmh=pd.read_csv('./data/high_frequency_mental_health_surveillance.tsv', sep='\t')
df_hfmh

,model,instrument,type,category,cat_value,standardized,date,fit,se,lwr,upr,period_duration,period_text,obs_month_period,obs_timeseries
0,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-04-01,NaN,NaN,NaN,NaN,2_Monate,Mitte Februar bis Mitte Mai,222.0,4994
1,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-05-01,NaN,NaN,NaN,NaN,2_Monate,Mitte MÃ¤rz bis Mitte Juni,222.0,4994
2,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-06-01,12.216638,3.661314,6.653225,21.367286,2_Monate,Mitte April bis Mitte Juli,164.0,4994
3,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-07-01,12.678911,3.345990,7.433071,20.795257,2_Monate,Mitte Mai bis Mitte August,205.0,4994
4,3_Monate_Anteile,GAD-2,kategorial,Altersgruppe,18-29 Jahre,False,2021-08-01,12.124979,2.780445,7.641295,18.706687,3_Monate,Mitte Juni bis Mitte September,284.0,4994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26063,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,False,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838
26064,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,True,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838
26065,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,True,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838
26066,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,True,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838
26067,Mittelwerte_smooth,PHQ-2,Summenscore,Geschlecht,weiblich,True,2021-02-01,NaN,NaN,NaN,NaN,1_Woche,NaN,NaN,51838

In [65]:
schema='cgn_analytics_24_2'
sql_config=get_sql_config()

In [66]:
engine = sqlalchemy.create_engine('postgresql://user:pass@host/database',
                        connect_args=sql_config
)

In [67]:
if engine!=None:
    try:
        df_hfmh.to_sql(table_name,
                       con=engine,
                       if_exists='replace',
                       schema=schema,
                       index=False,
                       chunksize=5000,
                       method='multi')
        print(f"The {table_name} was imported")
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The mental_health_surveillance was imported

In [68]:
df_depression=pd.read_sql_query(sql= f"SELECT * FROM {schema}.mental_health_surveillance mhs WHERE model ='3_Monate_Anteile' AND instrument = 'PHQ-2' AND category = 'Altersgruppe';", con=engine)
df_depression.head()

,model,instrument,type,category,cat_value,standardized,date,fit,se,lwr,upr,period_duration,period_text,obs_month_period,obs_timeseries
0,3_Monate_Anteile,PHQ-2,kategorial,Altersgruppe,18-29 Jahre,False,2019-06-01,8.122157,1.684589,5.374254,12.095490,3_Monate,Mitte April bis Mitte Juli,453.0,8152
1,3_Monate_Anteile,PHQ-2,kategorial,Altersgruppe,18-29 Jahre,False,2019-07-01,12.385738,2.335821,8.484401,17.733388,3_Monate,Mitte Mai bis Mitte August,470.0,8152
2,3_Monate_Anteile,PHQ-2,kategorial,Altersgruppe,18-29 Jahre,False,2019-08-01,14.431697,2.677240,9.931974,20.505904,3_Monate,Mitte Juni bis Mitte September,471.0,8152
3,3_Monate_Anteile,PHQ-2,kategorial,Altersgruppe,18-29 Jahre,False,2019-09-01,15.318157,2.774900,10.629695,21.575335,3_Monate,Mitte Juli bis Mitte Oktober,448.0,8152
4,3_Monate_Anteile,PHQ-2,kategorial,Altersgruppe,18-29 Jahre,False,2019-10-01,12.475689,2.516459,8.318572,18.295702,3_Monate,Mitte August bis Mitte November,421.0,8152

In [69]:
df_arbeitslosigkeit=pd.read_csv('Data/Tabelle Arbeitslosigkeit.csv', sep=';', header=[0,1])
df_arbeitslosigkeit.columns = [f'{i}{j}' for i, j in df_arbeitslosigkeit.columns]
df_arbeitslosigkeit= df_arbeitslosigkeit.drop(columns='KennzifferUnnamed: 0_level_1')
df_arbeitslosigkeit= df_arbeitslosigkeit.rename(columns={'RaumeinheitUnnamed: 1_level_1':'Raumeinheit', 'AggregatUnnamed: 2_level_1':'Aggregat'})
df_arbeitslosigkeit = df_arbeitslosigkeit.drop(columns='Aggregat')
df_arbeitslosigkeit= df_arbeitslosigkeit.transpose()
df_arbeitslosigkeit.columns =df_arbeitslosigkeit.iloc[0]
df_arbeitslosigkeit=df_arbeitslosigkeit.iloc[1:]
df_arbeitslosigkeit

Raumeinheit,Schleswig-Holstein,Hamburg,Niedersachsen,Bremen,Nordrhein-Westfalen,Hessen,Rheinland-Pfalz,Baden-WÃ¼rttemberg,Bayern,Saarland,Berlin,Brandenburg,Mecklenburg-Vorpommern,Sachsen,Sachsen-Anhalt,ThÃ¼ringen,Bundesrepublik Deutschland
Arbeitslosenquote1998,"9,97","11,28","11,09","15,17","10,68","8,96","8,76","7,09","7,03","11,54","16,10","17,59","19,18","17,48","20,39","17,10","11,10"
Arbeitslosenquote1999,"9,39","10,36","10,35","14,33","10,23","8,35","8,23","6,49","6,44","10,79","15,88","17,36","18,18","17,18","20,31","15,37","10,53"
Arbeitslosenquote2000,"8,51","8,88","9,32","13,02","9,17","7,27","7,26","5,40","5,49","9,82","15,79","17,05","17,84","17,05","20,16","15,36","9,65"
Arbeitslosenquote2001,"8,45","8,25","9,06","12,41","8,78","6,62","6,83","4,94","5,26","8,99","16,07","17,36","18,32","17,48","19,71","15,32","9,36"
Arbeitslosenquote2002,"8,71","8,97","9,24","12,51","9,22","6,95","7,18","5,44","6,03","9,05","16,94","17,54","18,61","17,82","19,65","15,88","9,77"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Arbeitslosenquote JÃ¼ngere2018,"5,08","5,29","4,94","8,59","5,61","4,56","4,14","2,49","2,54","5,07","8,54","7,03","9,75","6,62","9,13","6,22","4,61"
Arbeitslosenquote JÃ¼ngere2019,"4,69","5,07","4,69","9,15","5,36","4,30","4,05","2,52","2,49","5,16","8,02","6,53","8,53","6,12","8,72","6,07","4,43"
Arbeitslosenquote JÃ¼ngere2020,"5,48","6,57","5,63","10,70","6,35","5,41","4,99","3,57","3,40","6,23","10,29","7,31","9,46","7,00","9,46","7,14","5,48"
Arbeitslosenquote JÃ¼ngere2021,"4,88","6,10","4,88","9,31","5,75","4,84","4,27","2,94","2,88","5,15","10,36","6,38","8,64","6,14","8,18","5,95","4,86"
Arbeitslosenquote JÃ¼ngere2022,"4,37","5,37","4,55","8,38","5,18","4,46","3,76","2,54","2,52","4,39","8,76","5,87","8,01","5,56","7,68","5,57","4,38"

In [70]:
df_erwerb_schulden=pd.read_csv('Data/Tabelle Erwerb_Schulden.csv', sep=';', header=[0,1])
df_erwerb_schulden.columns = [f'{i}{j}' for i, j in df_erwerb_schulden.columns]
df_erwerb_schulden = df_erwerb_schulden.drop(columns='KennzifferUnnamed: 0_level_1')
df_erwerb_schulden = df_erwerb_schulden.rename(columns={'RaumeinheitUnnamed: 1_level_1':'Raumeinheit','AggregatUnnamed: 2_level_1':'Aggregat'})
df_erwerb_schulden = df_erwerb_schulden.drop(columns='Aggregat')
df_erwerb_schulden = df_erwerb_schulden.transpose()
df_erwerb_schulden.columns = df_erwerb_schulden.iloc[0]
df_erwerb_schulden = df_erwerb_schulden.iloc[1:]
df_erwerb_schulden

Raumeinheit,Schleswig-Holstein,Hamburg,Niedersachsen,Bremen,Nordrhein-Westfalen,Hessen,Rheinland-Pfalz,Baden-WÃ¼rttemberg,Bayern,Saarland,Berlin,Brandenburg,Mecklenburg-Vorpommern,Sachsen,Sachsen-Anhalt,ThÃ¼ringen,Bundesrepublik Deutschland
BeschÃ¤ftigtenquote1997,"47,20","45,91","46,92","44,28","46,56","48,47","47,32","50,18","50,59","43,30","44,92","50,78","50,73","51,89","50,78","52,21","48,53"
BeschÃ¤ftigtenquote1998,"46,76","45,79","46,85","43,94","46,57","48,26","47,46","50,17","50,63","43,81","43,60","50,46","50,30","51,51","50,35","52,28","48,40"
BeschÃ¤ftigtenquote1999,"47,51","46,44","47,55","45,03","47,24","48,87","48,29","50,63","51,19","44,67","43,88","49,72","50,77","51,62","50,27","53,17","48,93"
BeschÃ¤ftigtenquote2000,"48,03","47,45","48,44","45,87","48,22","49,82","49,18","51,56","52,02","45,43","43,96","49,46","50,61","51,38","50,03","52,66","49,59"
BeschÃ¤ftigtenquote2001,"47,91","47,95","48,23","46,36","48,36","50,40","49,40","51,83","52,28","45,90","43,15","48,75","49,41","50,74","49,64","51,97","49,59"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Schuldnerquote2018,"10,90","10,62","10,33","13,94","11,68","10,05","10,11","8,31","7,43","11,37","12,42","9,93","10,53","9,94","12,73","9,31","10,04"
Schuldnerquote2019,"10,85","10,60","10,30","14,03","11,71","10,04","10,11","8,22","7,31","11,50","12,31","9,82","10,58","9,82","12,71","9,22","9,99"
Schuldnerquote2020,"10,68","10,53","10,18","13,98","11,62","9,95","10,06","8,11","7,13","11,60","12,02","9,63","10,46","9,67","12,62","9,14","9,87"
Schuldnerquote2021,"9,44","9,10","9,01","12,81","10,46","8,82","9,03","7,28","6,42","10,42","10,81","8,61","9,59","8,88","11,56","8,32","8,85"
Schuldnerquote2022,"8,92","8,64","8,62","12,47","10,04","8,43","8,69","6,95","6,05","10,04","10,47","8,23","9,13","8,52","11,21","8,08","8,47"

In [71]:
df_flaeche=pd.read_csv('Data/Tabelle Bundeslandplanung.csv', sep=';', header=[0,1])
df_flaeche.columns = [f'{i}{j}' for i, j in df_flaeche.columns]
df_flaeche = df_flaeche.drop(columns='KennzifferUnnamed: 0_level_1')
df_flaeche = df_flaeche.rename(columns={'RaumeinheitUnnamed: 1_level_1':'Raumeinheit','AggregatUnnamed: 2_level_1':'Aggregat'})
df_flaeche = df_flaeche.drop(columns='Aggregat')
df_flaeche = df_flaeche.transpose()
df_flaeche.columns = df_flaeche.iloc[0]
df_flaeche = df_flaeche.iloc[1:]
df_flaeche

Raumeinheit,Schleswig-Holstein,Hamburg,Niedersachsen,Bremen,Nordrhein-Westfalen,Hessen,Rheinland-Pfalz,Baden-WÃ¼rttemberg,Bayern,Saarland,Berlin,Brandenburg,Mecklenburg-Vorpommern,Sachsen,Sachsen-Anhalt,ThÃ¼ringen,Bundesrepublik Deutschland
ErholungsflÃ¤che je Einwohner2016,"62,48","35,19","67,06","55,63","44,81","41,26","91,86","33,94","42,80","33,58","33,24","108,06","226,56","64,68","231,31","60,50","59,01"
ErholungsflÃ¤che je Einwohner2017,"63,53","35,13","66,98","56,83","46,02","41,40","89,85","34,11","42,76","33,71","33,16","107,84","227,61","66,26","232,00","107,13","60,48"
ErholungsflÃ¤che je Einwohner2018,"64,41","34,89","66,86","57,76","47,10","41,40","87,45","34,05","42,66","33,83","32,97","107,38","230,37","67,99","233,58","177,61","62,49"
ErholungsflÃ¤che je Einwohner2019,"64,69","35,04","67,14","58,46","48,06","41,48","84,85","34,14","42,54","34,04","32,75","107,77","231,20","69,27","236,57","182,05","62,81"
ErholungsflÃ¤che je Einwohner2020,"67,50","34,97","67,48","59,24","48,57","41,64","81,18","34,32","42,69","34,02","32,81","118,61","231,36","70,71","237,25","182,90","63,35"
ErholungsflÃ¤che je Einwohner2021,"68,10","35,04","67,85","60,05","49,02","41,88","76,90","34,53","42,84","34,92","32,63","131,45","232,30","71,89","235,89","184,08","63,78"
ErholungsflÃ¤che je Einwohner2022,"68,39","33,89","67,20","59,95","48,51","41,63","73,17","34,21","42,33","35,31","31,76","146,33","230,16","72,17","232,31","182,33","63,45"
FreiflÃ¤che je Einwohner2016,"4.841,23","211,18","5.238,36","329,90","1.519,21","2.906,63","4.279,89","2.828,96","4.849,19","2.069,62","110,22","10.878,02","13.475,48","3.990,32","8.376,54","6.822,94","3.799,61"
FreiflÃ¤che je Einwohner2017,"4.825,02","208,95","5.224,19","329,76","1.518,45","2.890,74","4.270,38","2.808,40","4.821,31","2.074,22","109,02","10.836,61","13.491,10","3.987,93","8.425,24","6.838,73","3.786,08"
FreiflÃ¤che je Einwohner2018,"4.810,61","207,88","5.208,12","330,45","1.516,74","2.878,84","4.255,36","2.795,29","4.789,35","2.081,33","108,05","10.800,23","13.504,81","3.988,86","8.481,98","6.856,37","3.774,10"
FreiflÃ¤che je Einwohner2019,"4.795,82","207,58","5.198,57","331,78","1.514,85","2.867,43","4.241,47","2.786,09","4.768,86","2.088,33","107,24","10.757,44","13.519,78","3.991,34","8.534,09","6.888,06","3.765,84"
FreiflÃ¤che je Einwohner2020,"4.781,17","207,08","5.189,49","332,26","1.515,99","2.864,45","4.228,99","2.783,85","4.760,23","2.093,78","107,37","10.718,44","13.496,12","4.001,80","8.588,53","6.929,22","3.764,43"
FreiflÃ¤che je Einwohner2021,"4.758,63","207,34","5.172,25","334,08","1.515,45","2.863,06","4.208,77","2.776,68","4.744,36","2.095,43","106,89","10.693,66","13.490,35","4.011,15","8.632,59","6.965,28","3.758,74"
FreiflÃ¤che je Einwohner2022,"4.706,12","204,01","5.098,04","329,28","1.496,49","2.821,90","4.146,52","2.737,05","4.674,25","2.071,66","104,45","10.555,22","13.346,10","3.965,82","8.561,25","6.905,63","3.707,45"
Siedlungs- und VerkehrsflÃ¤che2016,"12,94","58,91","13,97","56,42","22,86","15,83","14,33","14,47","11,96","21,33","70,38","9,48","8,44","13,24","11,02","10,00","13,77"
Siedlungs- und VerkehrsflÃ¤che2017,"13,02","58,97","14,02","56,49","22,93","15,89","14,32","14,55","12,02","21,35","70,49","9,48","8,32","13,34","11,03","10,69","13,84"
Siedlungs- und VerkehrsflÃ¤che2018,"13,09","58,93","14,07","56,41","22,98","15,94","14,35","14,60","12,07","21,37","70,54","9,50","8,33","13,43","11,03","11,71","13,93"
Siedlungs- und VerkehrsflÃ¤che2019,"13,14","58,90","14,11","56,43","23,07","15,98","14,39","14,65","12,12","21,40","70,56","9,51","8,32","13,53","11,06","11,75","13,98"
Siedlungs- und VerkehrsflÃ¤che2020,"13,27","58,88","14,17","56,53","23,13","16,01","14,48","14,71","12,18","21,42","70,58","9,61","8,34","13,65","11,07","11,77","14,04"
Siedlungs- und VerkehrsflÃ¤che2021,"13,36","58,81","14,21","56,58","23,19","16,03","14,64","14,77","12,24","21,54","70,59","9,69","8,36","13,77","11,07","11,79","14,10"
Siedlungs- und VerkehrsflÃ¤che2022,"13,42","58,47","14,25","56,80","23,25","15,99","14,77","14,82","12,27","21,65","70,60","9,76","8,37","13,86","11,10","11,80","14,14"

In [72]:
table_name='arbeitslosigkeit'
if engine!=None:
    try:
        df_arbeitslosigkeit.to_sql(table_name,
                       con=engine,
                       if_exists='replace',
                       schema=schema,
                       index=False,
                       chunksize=5000,
                       method='multi')
        print(f"The {table_name} was imported")
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The arbeitslosigkeit was imported

In [73]:
table_name='erwerb_schuldenlast'
if engine!=None:
    try:
        df_erwerb_schulden.to_sql(table_name,
                       con=engine,
                       if_exists='replace',
                       schema=schema,
                       index=False,
                       chunksize=5000,
                       method='multi')
        print(f"The {table_name} was imported")
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The erwerb_schuldenlast was imported

In [74]:
table_name='flaeche'
if engine!=None:
    try:
        df_flaeche.to_sql(table_name,
                       con=engine,
                       if_exists='replace',
                       schema=schema,
                       index=False,
                       chunksize=5000,
                       method='multi')
        print(f"The {table_name} was imported")
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The flaeche was imported